article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 125%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

h1 {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-size: 5.55rem;
  margin-top: 0; }

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 4.35rem;
  line-height: 2.9rem;
  letter-spacing: 0.45rem;
  color: #ffffff; }

h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 3.1rem;
  line-height: 2.9rem;
  letter-spacing: 0.335rem; }

h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.9rem;
  letter-spacing: 0.19rem;
  margin: 0; }

h5 {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-size: 1.73rem;
  text-align: center;
  color: #50e3c2;
  margin: 1rem 0; }

h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.9rem;
  letter-spacing: 0.16rem;
  margin: 0; }

.button, button {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  color: #ffffff;
  background: #063974; }

button {
  border: 0;
  height: 3rem;
  margin: 2rem 0 1rem 0; }

.button {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none; }

a {
  color: #2c2c2c; }

nav a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  line-height: 1.45rem;
  letter-spacing: 0.05rem;
  color: #fafffe;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 1rem; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

input::placeholder, textarea::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

.wrapper {
  margin: 0 auto;
  max-width: 1600px; }

.currentPage {
  color: #50e3c2; }

.shadow {
  -webkit-box-shadow: 1rem 1rem 0 0px #50e3c2;
  box-shadow: 1rem 1rem 0 0px #50e3c2; }

header {
  height: 40vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1px; }

header.index {
  background-image: url("../assets/homeImage1.jpg"); }

header.contact {
  background-image: url("../assets/contactImage1.jpg"); }

header.blogPost {
  height: 35vw;
  background-image: url("../assets/blogImage1.jpg"); }

header .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.navBar li:last-child a {
  margin-right: 0; }

header ul {
  margin: 1rem 0;
  padding: 0; }

header li {
  list-style-type: none;
  display: inline-block; }

header.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr minmax(1600px, 3.5fr 8fr 5fr) 2fr;
  grid-template-columns: 2fr minmax(1600px, 3.5fr 8fr 5fr) 2fr;
  -ms-grid-rows: auto 2.5fr auto 2fr;
  grid-template-rows: auto 2.5fr auto 2fr;
  grid-template-areas: ". navBar navBar navBar ." ". . . . ." ". pageTitle pageTitle pageTitle." ". . . . ."; }

header.contact div.navBar {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: navBar; }

header.contact h2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: pageTitle; }

header.index {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr 4fr 1fr;
  grid-template-columns: 1fr 2fr 1fr 4fr 1fr;
  -ms-grid-rows: auto (1fr)[4];
  grid-template-rows: auto repeat(4, 1fr);
  grid-template-areas: ". navBar navBar navBar." "glasses glasses glasses . ." "glasses glasses glasses . ." "glasses glasses glasses . ." "glasses glasses glasses . .";
  position: relative;
  margin-bottom: 9vw;
  padding-bottom: 1px; }

header.index div.navBar {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: navBar; }

header.index img.sunglasses {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: glasses;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 9vw; }

header.index div.welcoming {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 4/3/5/5;
  z-index: 10; }
  header.index div.welcoming h3 {
    margin-bottom: 1.5rem; }

section.visit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid blue; }

section.visit figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.carousel {
  background: #d2f9f1; }

.carousel .wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.carousel img {
  width: 30%;
  margin: 0 1%; }

section.freeTrip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  section.freeTrip .offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 80%;
    margin: 2rem; }

footer {
  background: #2c2c2c; }

footer p {
  margin: 0 auto;
  text-align: center;
  color: #ffffff; }

main.contact {
  height: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 6rem;
  position: relative; }

main.contact section.contactForm {
  background: #ffffff;
  padding: 2rem;
  position: absolute;
  top: -12vw; }

.contactForm form {
  display: inline-block;
  width: 100%; }
  .contactForm form input.name, .contactForm form input.email {
    width: calc(50% - 4px);
    margin: 1rem 0;
    border: 1px solid #50e3c2;
    line-height: 3rem;
    border-width: 0 0 0.1rem 0; }
    .contactForm form input.name:focus, .contactForm form input.email:focus {
      border: 0.2rem solid #063974;
      border-width: 0 0 0.1rem 0; }
  .contactForm form textarea {
    width: 100%;
    margin: 1rem 0;
    border: 0.1rem solid #50e3c2;
    resize: none;
    overflow: auto; }
    .contactForm form textarea:focus {
      border: 0.1rem solid #063974; }
  .contactForm form button {
    width: 100%; }

.contactInfo {
  margin: 0; }
  .contactInfo ul.socialMediaIcons {
    list-style-type: none;
    padding: 0; }
    .contactInfo ul.socialMediaIcons li {
      margin-right: 1rem;
      display: inline-block; }
  .contactInfo a {
    text-decoration: none;
    font-weight: 700; }
  .contactInfo ul.mailingAddress {
    list-style-type: none;
    padding: 0; }

main.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 12.5fr 5fr 2fr;
  grid-template-columns: 1fr 12.5fr 5fr 2fr;
  -ms-grid-rows: 6fr 1.5fr;
  grid-template-rows: 6fr 1.5fr;
  grid-template-areas: ". contactForm socialInfo ." ". . . ."; }

main.contact section.contactForm {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: contactForm; }

main.contact aside.contactInfo {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: socialInfo;
  -ms-grid-column-align: end;
  justify-self: end;
  -ms-grid-row-align: center;
  align-self: center; }

section.blogPost {
  position: absolute;
  top: -12vw; }
  section.blogPost img {
    width: 100%; }
  section.blogPost h4 {
    margin: 0; }
  section.blogPost > *:not(img) {
    margin: 1rem 1rem 1rem 5rem; }

aside.blogPost img {
  width: 100%; }

aside.blogPost p {
  margin-bottom: 0; }

aside.blogPost a {
  text-decoration: none; }

aside.blogPost h6 {
  margin: 0.5rem 0;
  color: #063974; }

aside.blogPost ul {
  margin: 0; }

aside.blogPost li {
  padding-left: 0.5rem;
  color: #50e3c2; }
  aside.blogPost li a {
    text-decoration: none; }

section.comments a {
  text-decoration: none;
  color: #063974; }

section.comments .postDate {
  color: #063974;
  font-weight: bold; }

section.comments ul {
  list-style: none;
  padding: 0; }

section.comments li figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  section.comments li figure img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    max-height: 80px; }
  section.comments li figure figcaption {
    margin-left: 1rem; }
  section.comments li figure figcaption p.postDate {
    margin-top: 0; }

section.comments section.contactForm img.shadow {
  background: #ffffff; }

main.blogPost {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 7fr 2fr 3fr;
  grid-template-columns: 1fr 7fr 2fr 3fr;
  -ms-grid-rows: 1fr 3fr 0.5fr 3.5fr 3.5fr auto;
  grid-template-rows: 1fr 3fr 0.5fr 3.5fr 3.5fr auto;
  grid-template-areas: "post       post        .        ." "post       post        .        sidebar" "post       post        .        sidebar" "post       post        .        sidebar" "post       post        .        ." ".          comments    .        .";
  position: relative; }

section.blogPost {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: post; }

aside.blogPost {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  grid-area: sidebar; }

section.comments {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: comments; }
