article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 125%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

h1 {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-size: 5.55rem; }

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 4.35rem;
  line-height: 2.9rem;
  letter-spacing: 0.45rem;
  color: #ffffff; }

h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 3.1rem;
  line-height: 2.9rem;
  letter-spacing: 0.335rem; }

h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.9rem;
  letter-spacing: 0.19rem; }

h5 {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-size: 1.73rem;
  text-align: center;
  color: #50e3c2;
  margin: 1rem 0; }

h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.9rem;
  letter-spacing: 0.16rem; }

.button, button {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  color: #ffffff;
  background: #063974; }

button {
  border: 0;
  height: 3rem;
  margin: 2rem 0 1rem 0; }

.button {
  display: inline-block;
  width: 21rem;
  height: 5rem;
  text-decoration: none; }

a {
  color: #2c2c2c; }

nav a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  line-height: 1.45rem;
  letter-spacing: 0.05rem;
  color: #fafffe;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 1rem; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

input::placeholder, textarea::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

.wrapper {
  margin: 0 auto;
  max-width: 1600px; }

.currentPage {
  color: #50e3c2; }

.shadow {
  -webkit-box-shadow: 1rem 1rem 0 0px #50e3c2;
  box-shadow: 1rem 1rem 0 0px #50e3c2; }

header {
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1px; }

header.index {
  background-image: url("../assets/homeImage1.jpg"); }

header.contact {
  height: 35vw;
  background-image: url("../assets/contactImage1.jpg"); }

header.blogPost {
  height: 35vw;
  background-image: url("../assets/blogImage1.jpg"); }

header .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.navBar li:last-child a {
  margin-right: 0; }

header ul {
  margin: 1rem 0;
  padding: 0; }

header li {
  list-style-type: none;
  display: inline-block; }

.carousel {
  background: #d2f9f1; }

.carousel .wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.carousel img {
  width: 30%;
  margin: 0 1%; }

footer {
  background: #2c2c2c; }

footer p {
  margin: 0 auto;
  text-align: center;
  color: #ffffff; }

main.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 6rem; }

.contactForm {
  width: 60%;
  padding: 2rem; }

.contactForm form {
  display: inline-block;
  width: 100%; }
  .contactForm form input.name, .contactForm form input.email {
    width: calc(50% - 4px);
    margin: 1rem 0;
    border: 1px solid #50e3c2;
    line-height: 3rem;
    border-width: 0 0 0.1rem 0; }
    .contactForm form input.name:focus, .contactForm form input.email:focus {
      border: 0.2rem solid #063974;
      border-width: 0 0 0.1rem 0; }
  .contactForm form textarea {
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #50e3c2;
    resize: none;
    overflow: auto; }
    .contactForm form textarea:focus {
      border: 0.1rem solid #063974; }
  .contactForm form button {
    width: 100%; }

.contactInfo {
  margin: auto; }
  .contactInfo ul.socialMediaIcons {
    list-style-type: none;
    padding: 0; }
    .contactInfo ul.socialMediaIcons li {
      margin-right: 1rem;
      display: inline-block; }
  .contactInfo a {
    text-decoration: none;
    font-weight: 700; }
  .contactInfo ul.mailingAddress {
    list-style-type: none;
    padding: 0; }
