section.blogPost {
   position: relative;
   top:-12vw;
   img {
      width: 100%;
   }

   h4 {
      margin: 0;
   }

   & > *:not(img) {
      margin: 1rem 1rem 1rem 5rem;
   }
}

aside.blogPost {
   img {
      width: 100%;
   }

   p {
      margin-bottom: 0;
   }

   a {
      text-decoration: none;
   }

   h6 {
      margin: 0.5rem 0;
      color: $twilightBlue;
   }

   ul {
      margin: 0;
   }
   
   li {
      padding-left: 0.5rem;
      color: $greenishCyan;
      a {
         text-decoration: none;
      }
   }
}

section.comments {
   a {
      text-decoration: none;
      color: $twilightBlue;
   }
   
   .postDate {
      color: $twilightBlue;
      font-weight: bold;
   }
   
   ul {
      list-style: none;
      padding: 0;
   }

   li figure {
      display: flex;

      img {
         flex-shrink: 0;
         max-height: 80px;
      }

      figcaption {
         margin-left: 1rem;
      }

      figcaption p.postDate {
         margin-top: 0;
      }
   }

   section.contactForm img.shadow {
      background: $white;
   }
}


// Grid layout
// Main content

main.blogPost {
   display: grid;
   grid-template-columns: 1fr 7fr 2fr 3fr;
   grid-template-rows: 1fr 3fr 0.5fr 3.5fr 3.5fr auto;
   grid-template-areas:
      "post       post        .        ."
      "post       post        .        sidebar"
      "post       post        .        sidebar"
      "post       post        .        sidebar"
      "post       post        .        ."
      ".          comments    .        .";
   position: relative;
}

section.blogPost {
   grid-area: post;
}

aside.blogPost {
   grid-area: sidebar;
}

section.comments {
   grid-area: comments;
}

@media(max-width: 1000px) {
   main.blogPost {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      img {
         position: static;
      }

      section {
         max-width: 90%;
      }

      aside {
         background: $iceBlue;
         padding: 2%;
      }
   }

   section.blogPost {
      img{ 
         max-width: 80%;
         position: static;
      }
   }
}