.carousel {
   background: $lightLightBlue;
   // padding: 1px;
}

.carousel .wrapper {
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.carousel img, .carousel picture {
   // display: inline-block;
}

.carousel picture {
   // width: 32%;
   // margin: 15% auto;
}

.carousel img {
   width: 30%;
   // border: 1px solid blue;
   // height: 100%;
   // object-fit: cover;
   // height: 25%;
   // width: auto;
   // height: auto;
   margin: 0 1%;
}