section.freeTrip {
   // display: flex;
   // flex-direction: column;
   // justify-content: center;
   // align-items: center;

   picture {
      width: 100vw;
   }
   
   img {
      // max-width: 100%;
      width: 100%;
      // display: inline-block;
   }

   .offer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      // max-width: 80%;
      margin: 2rem;
   }

   .offer p {
      width: 80%;
      text-align: center;
   }
}