section.freeTrip {
   // display: flex;
   // flex-direction: column;
   // justify-content: center;
   // align-items: center;

   picture {
      width: 100vw;
   }
   
   img {
      // max-width: 100%;
      width: 100%;
      background-position: center;
      object-fit: none;
   }

   .offer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      // max-width: 80%;
      margin: 6rem auto 6rem auto;
   }

   .offer  {
      p {
      width: 80%;
      text-align: center;
      }
   }
}

@media(max-width: 800px) {
   section.freeTrip {
      .offer { 
         margin: 0 auto 2rem auto;
         h4 {
            font-size: 1.65rem;
            max-width: 80%;
         }

         p {
            text-align: left;
            hyphens: auto;
         }
      }
   }
}