section.freeTrip {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   picture {
      // width: 100%;
   }

   .offer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      max-width: 80%;
      margin: 2rem;
   }
}