body.contact {

}

main.contact {
   // border: 1px dashed blue;
   height: 40vw;
   display: flex;
   flex-direction: row;
   justify-content: center;
   // margin: 2rem;
   margin-bottom: 6rem;
   position: relative;
}

main.contact section.contactForm {
   // width: 60%;
   background: $white;
   padding: 2rem;
   position: absolute;
   top:-12vw;
}

.contactForm form {
   display: inline-block;
   width: 100%;

   input.name, input.email {
      width: calc(50% - 4px);
      margin: 1rem 0;
      border: 1px solid #50e3c2;
      line-height: 3rem;
      border-width: 0 0 0.1rem 0;
      &:focus {
         border: 0.2rem solid $twilightBlue;
         border-width: 0 0 0.1rem 0;
      }
   }

   textarea {
      width: 100%;
      margin: 1rem 0;
      border: 0.1rem solid #50e3c2;
      resize: none;
      overflow: auto;

      &:focus {
         border: 0.1rem solid $twilightBlue;
      }
   }

   button {
      width: 100%;
   }
}

.contactInfo {

   margin: 0;
   ul.socialMediaIcons {
      list-style-type: none;
      padding: 0;
      
      li {
         margin-right: 1rem;
         display: inline-block;
      }
   }

   a {
      text-decoration: none;
      font-weight: $fontWeightBold;
   }

   ul.mailingAddress {
      list-style-type: none;
      padding: 0;
   }
}

// Grid positioning ======================

main.contact {
   display: grid;
   grid-template-columns: 1fr 12.5fr 5fr 2fr;
   grid-template-rows: 6fr 1.5fr;
   grid-template-areas: 
      ". contactForm socialInfo ."
      ". . . .";
}

main.contact section.contactForm {
   grid-area: contactForm;
}

main.contact aside.contactInfo {
   grid-area: socialInfo;
   justify-self: end;
   align-self: center;
}