main.contact {
   // border: 1px dashed blue;
   display: flex;
   flex-direction: row;
   justify-content: center;
   // margin: 2rem;
   margin-bottom: 6rem;
}

.contactForm {
   width: 60%;
   padding: 2rem;
}

.contactForm form {
   display: inline-block;
   width: 100%;

   input.name, input.email {
      width: calc(50% - 4px);
      margin: 1rem 0;
      border: 1px solid #50e3c2;
      line-height: 3rem;
      border-width: 0 0 0.1rem 0;
      &:focus {
         border: 0.2rem solid $twilightBlue;
         border-width: 0 0 0.1rem 0;
      }
   }

   textarea {
      width: 100%;
      margin: 1rem 0;
      border: 1px solid #50e3c2;
      resize: none;
      overflow: auto;
      &:focus {
         border: 0.1rem solid $twilightBlue;
      }
   }

   button {
      width: 100%;
   }
}

.contactInfo {
   margin: auto;
   ul.socialMediaIcons {
      list-style-type: none;
      padding: 0;
      
      li {
         margin-right: 1rem;
         display: inline-block;
      }
   }

   a {
      text-decoration: none;
      font-weight: $fontWeightBold;
   }

   ul.mailingAddress {
      list-style-type: none;
      padding: 0;
   }
}
