header {
   // border: 1px solid blue;
   width: 100%;
   height: 90vh;

   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   
   padding: 1px;
}

header.index {
   background-image: 
      url('../assets/homeImage1.jpg');
}

header.contact {
   height: 35vw;
   background-image: 
      url('../assets/contactImage1.jpg');
}

header.blogPost {
   height: 35vw;
   background-image: 
      url('../assets/blogImage1.jpg');
}

header .navBar {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-self: flex-start;
}

.navBar li:last-child a {
   margin-right: 0;
}

header ul {
   margin: 1rem 0;
   padding: 0;
}

header li {
   list-style-type: none;
   display: inline-block;
}