section.planAhead {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   background: $lightLightBlue;

   a {
      margin-bottom: 2rem;
   }

   figure {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
   }

   figure.planAhead img, figure.planAhead figcaption {
      width: 45%;
   }

   figure.newLocations img, figure.newLocations figcaption{
      width: 45%;
      text-align: right;
   }

   figure img:nth-child(odd) {
      position: relative;
      top: -2vw;
   }

   figure img:nth-child(even) {
      position: relative;
      top: 2vw;
   }

   p {
      margin-top: 0.5rem;
   }
}


@media(max-width: 1200px) {
   section.planAhead {
      flex-direction: column;
      flex-wrap: wrap;

      figure.planAhead , figure.newLocations {
         flex-direction: column;
         flex-wrap: nowrap;
      }

      figure.planAhead img,
      figure.newLocations img {
         width: 60%;
      }

      figure.planAhead figcaption,
      figure.newLocations figcaption {
         margin: 1vw;
         width: 80%;
         text-align: left;
      }

      figure.newLocations figcaption {
         order: 1;

         h4 {
            margin: 5vw 0 auto 0;
         }
      }

   }
}

@media(max-width: 800px) {
   section.planAhead {
      figure.planAhead img, figure.newLocations img {
         width: 80%;
      }
   }
}