section.visit {
   display: flex;
   justify-content: center;
   align-items: center;
}

section.visit  {
   figure {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      margin: 5rem auto 5rem auto;
   }

   figcaption {
      padding: 2rem;
   }
}

@media(max-width: 800px) {
   section.visit {
      .wrapper{
         flex-direction: column;

         picture {
            order: -1;
         }
      }
   }
}